
<h1>{{title}}</h1>
<h2>这就是一个样例！</h2>

<!--要显示 HeroesComponent 你必须把它加到壳组件 AppComponent 的模板中。-->
<!--<app-heroes></app-heroes>-->
<nav>
    <a routerLink="/dashboard">Dashboard</a> <br>
    <a routerLink="/heroes" _target="parent">Heroes</a>
  </nav>
<!--AppComponent 的模板不再需要 <app-heroes>，因为只有当用户导航到这里时，才需要显示 HeroesComponent。-->
<router-outlet></router-outlet>
<!--能在 AppComponent 中使用 RouterOutlet，是因为 AppModule 导入了 AppRoutingModule，
    而 AppRoutingModule 中导出了 RouterModule。
    在本教程开始时你运行的那个 ng generate 命令添加了这个导入，是因为 --module=app 标志。
    如果你手动创建 app-routing.module.ts 或使用了 CLI 之外的工具，你就要把 AppRoutingModule 导入到 app.module.ts 中，并且把它添加到 NgModule 的 imports 数组中。-->
<app-messages></app-messages>